span{
    display: block;

}
.outer{
    border: 2px solid black;
}
.inner{
    border: 2px solid black;
    display: inline block;
    width:150px;
    height:250px;

}
.first{
    background-color:yellow;
}
.second{
    background-color: skyblue;
}
.third{
    background-color: skyblue;

}